*{ 
    margin:0px;
    padding:0px;
}
body{
    background-color: aliceblue;
    text-align: center;
}
header{
    background:linear-gradient(45deg,teal,lightseagreen);
    padding:25px;
}
header h1{
    color:whitesmoke;
    font-family:calibri,sans-serif;
    font-size:80px;
}
nav{
    background-color: aquamarine;
    box-shadow:0 0 10px;
   

}
nav a{
    text-decoration:none;
    display:inline-block;
    padding:5px 25px;
    font-family:poppins,sans-serif;
    font-size: 20px;
    color:black;
    transition:.3s;
}
nav a:hover{
    color:orangered;
    font-size:18px;
}


.submit {
    position: relative;
    display: inline-block;
    margin: 15px;
    margin-top: 50px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color:lightseagreen;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 lightseagreen;
  }
  
  .submit:hover {
    color: white;
    box-shadow: inset 0 -100px 0 lightseagreen;
  }
  
  .submit:active {
    transform: scale(0.9);

  }
  .submit::after{
     position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color:lightseagreen;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 lightseagreen;

  }


section h1{
    color:lightseagreen;
    font-size:80px;
    margin-top:50px;
}

section h2 {
    color:lightseagreen;
    font-size:50px;
    margin-right:100px;
}


p{
    font-family: calibri,sans-serif;
    padding:5px;
    color:gray;
}

div{
    text-align: center;
    margin-top:20px;
}
div img{
    width:300px;
    padding:10px 25px;
    border:5px solid black;

}
.home-section{
    padding:100px;
}

.our-packages figure button{
    position: relative;
    display: inline-block;
    margin: 15px;
    margin-top: 30px;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color:lightseagreen;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 lightseagreen;
}
.our-packages figure button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 lightseagreen;
  }
  
  .our-packages figure button:active {
    transform: scale(0.9);

  }
  .our-packages figure button::after{
     position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color:lightseagreen;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 lightseagreen;

  }

section figure{
    box-shadow:0 0 10px black;
    width:300px;
    display:inline-block;
    padding:10px 10px;
    background-color: floralwhite;
    margin-top:50px;
    margin:20px;
}
section figure img{
    width: 100%;
    margin:auto;
}
section figure figcaption{
    font-size:25px;
}
section figure p{
    font-size:18px;
}
footer{
    background-color:gray;
    padding:10px;
    margin-top:20px;
}